@{
    ViewData["Title"] = "ToDo ";
}
@model ToDoProject.Models.TasksWrapper;

<div class="wrapper">
    <div class="main__container">
        <h1 class="main__title">Make toDO</h1>
        <div class="droppy">
            <ul class="links__dropdown">
                <li>

                    <a asp-controller="Home"
                       asp-action="SelectStorageAndRedirect" asp-route-storage="XML">XML</a>
                    <ul>
                        <li>
                            <a asp-controller="Home"
                               asp-action="SelectStorageAndRedirect" asp-route-storage="MSSQL">MSSQL</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <form asp-action="Create" method="post" class="form" asp-controller="Home">
            <div class="form__info">
                <input asp-for="Task.PlannedTime" type="datetime-local" class="form__date"  />
                <select  class="form__dropdown dropdown" asp-for="Task.CategoryType">
                    <option value="">without category </option>
                     @foreach(var option in Model.TaskVm.Categories)
                    {
                        <option value="@option.Type">@option.Type</option>
                    }
                </select>
            </div>
            <span asp-validation-for="Task.Text" class="validation-error"></span>
            <textarea asp-for="Task.Text" class="form__input"></textarea>
            <button type="submit" class="form__btn">+</button>
        </form>
        <h2 class="main__title">Tasks</h2>
        <div class="list">

            @foreach(var task in Model.TaskVm.Tasks)
            {
                @if (!task.IsCompleted)
                {
                    <div class="list__item item-list ">
                        <div class="item-list__body">
                            <p class="item-list__text">
                                @task.Text
                            </p>
                            <div class="item-list__additional">
                                <span>@task.PlannedTime</span>
                                <span class="item-list__category" data-category="@task.CategoryId">
                                    @task.CategoryType
                                </span>
                            </div>
                        </div>
                        <div class="item-list__controls">
                            <form class="form__sm" asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@task.Id">
                                <button type="submit" class="item-list__btn-del">
                                </button>
                            </form>
                            <form class="form__sm" asp-controller="Home" asp-action="MarkComplete" method="post" asp-route-id="@task.Id">
                                <input name="IsCompleted" data-id="@task.Id" type="checkbox" class="item-list__btn-complete" value="true" onchange="this.form.submit()" />
                            </form>
                        </div>
                    </div>
                }
               
            }
        </div>
        <h2 class="main__title">Completed</h2>
        <div class="list">
            @foreach (var task in Model.TaskVm.Tasks.AsEnumerable().OrderByDescending(el => el.CompletedAt))
            {
                @if (task.IsCompleted)
                {
                    <div class="list__item item-list completed ">
                        <div class="item-list__body">
                            <p class="item-list__text">
                                @task.Text
                            </p>
                            <div class="item-list__additional">
                                <span>@task.PlannedTime</span>
                                <span class="item-list__category" data-category="@task.CategoryId">
                                    @task.CategoryType
                                </span>
                            </div>
                        </div>
                        <div class="item-list__controls">
                            <form class="form__sm" asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@task.Id">
                                <button type="submit" class="item-list__btn-del">
                                </button>
                            </form>
                            <form class="form__sm" asp-controller="Home" asp-action="MarkComplete" method="post" asp-route-id="@task.Id">
                                <input name="IsCompleted" data-id="@task.Id" type="checkbox" value="false" checked class="item-list__btn-complete" onchange="this.form.submit()" />
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}